table{
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

th {
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
}
td{
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
}
caption{
    background-color: black;
    color: white;
    font-family: "Nerko One", cursive;
    font-size: 60px;
    line-height: 100px;
}

.ejemplo{
    text-align: center; 
    vertical-align: middle; 
    height: 100px;
}
body{
    background-color: cornflowerblue;
}

#log{
    width: 120px;
    height: 70px;
    margin: 10px;
    margin-right: 150px;
    border-radius: 10px;
    
}
#log1{
    width: 120px;
    height: 70px;
    margin: 10px;
    margin-left: 150px;
    border-radius: 10px;
    
}
thead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.desc{
    font-family: Arial, Helvetica, sans-serif;
}

